@use "../../styles/variables" as *;

.footer {
  margin-top: 6rem;
  padding: 4rem 2rem;

  border-top: 1px solid $border;

  background: rgba(255,255,255,.03);
}

.footer-content {
  width: min(1100px, 92%);
  margin: auto;
  text-align: center;
}

.footer h2 {
  margin-bottom: .75rem;
  font-size: 2rem;
  color: #ffffff;
}

.footer p {
  color: $text-muted;
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 2rem;
}

.social-links a {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: rgba(255,255,255,.05);

  border: 1px solid $border;

  color: white;

  font-size: 1.3rem;

  transition: .3s ease;
}

.social-links a:hover {
  background: $primary;
  transform: translateY(-3px) scale(1.02);

box-shadow:
0 12px 30px rgba(99,102,241,.35);;
}

.footer span {
  color: $text-muted;
  font-size: .9rem;
}