@use "../../styles/variables" as *;

.hero {
  min-height: calc(100vh - 100px);

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.hero-content {
  max-width: 760px;

  animation: fadeUp .8s ease;
}

.hero-tag {
  display: inline-block;

  padding: .6rem 1.2rem;

  margin-bottom: 2rem;

  border-radius: 999px;

  background: rgba(139,92,246,.12);

  border: 1px solid rgba(139,92,246,.35);

  color: #c4b5fd;

  font-size: .95rem;

  font-weight: 500;
}

.hero h1 {
  font-size: clamp(3rem,7vw,5.5rem);

  line-height: 1.05;

  margin-bottom: 1.5rem;

  font-weight: 700;

  color: $text;
}

.hero h1 span {
  background: linear-gradient(
      135deg,
      $primary,
      $secondary
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {

  max-width: 620px;

  margin: 0 auto;

  color: $text-muted;

  line-height: 1.8;

  font-size: 1.1rem;
}

.hero-buttons {

  margin-top: 3rem;

  display: flex;

  justify-content: center;

  gap: 1rem;
}

.primary-btn,
.secondary-btn {

  padding: 1rem 2rem;

  border-radius: 14px;

  font-weight: 600;

  transition: .3s;
}

.primary-btn {

  background: linear-gradient(
      135deg,
      $primary,
      $secondary
  );

  color: white;

  box-shadow: 0 15px 35px rgba(99,102,241,.35);
}

.primary-btn:hover {

  transform: translateY(-3px) scale(1.02);

box-shadow:
0 12px 30px rgba(99,102,241,.35);;
}

.secondary-btn {

  border: 1px solid $border;

  background: rgba(255,255,255,.05);

  color: white;
}

.secondary-btn:hover {

  background: rgba(255,255,255,.08);
}

@media(max-width:768px){

.hero{

min-height:70vh;
.hero::before{

content:"";

position:absolute;

width:600px;

height:600px;

background:

radial-gradient(circle,
rgba(139,92,246,.18),
transparent 70%);

top:-180px;

left:50%;

transform:translateX(-50%);

z-index:-1;

filter:blur(40px);

}

}

.hero-buttons{

flex-direction:column;

}

.primary-btn,
.secondary-btn{

width:100%;

}

}